.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.type-toggle {
  display: flex;
  gap: 0.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.row {
  display: flex;
  gap: 1rem;

  tui-textfield {
    flex: 1;

    &.currency {
      flex: 0 0 8rem;
    }
  }
}
